extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci veritatis expedita cupiditate eos esse minus. Impedit facilis error ratione omnis eos! Tempore distinctio odit ratione corrupti id minima sint atque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, similique explicabo! Et recusandae est omnis. Aliquam ea nisi tempora deserunt accusantium. Assumenda, dolorum itaque? Quos nostrum expedita saepe, necessitatibus cupiditate, repellat, sed obcaecati tempore ipsa cumque unde eveniet ea velit impedit reiciendis voluptatum nisi. Voluptate soluta culpa eveniet? Pariatur, corporis. Unde suscipit adipisci animi laboriosam, voluptatem nam odio optio commodi mollitia accusamus dolor minima nemo cum quo perspiciatis praesentium dignissimos?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tenetur illum voluptatibus laborum? Adipisci, odit! Corrupti nesciunt quaerat praesentium, ea voluptatum cupiditate a? Quam aspernatur cum eligendi necessitatibus distinctio quis!
    .listado-iconos
        .container.my-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum officia modi, magnam corrupti quisquam nulla!
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum officia modi, magnam corrupti quisquam nulla!
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum officia modi, magnam corrupti quisquam nulla!